* {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.nav-bar {
   height: 64px;
   vertical-align: middle;
   display: inline-block;
   text-align: center;
}

.logo {
    padding-left: 24px;
    font-size: 32px;
}

.logo, .school-name {
    display: inline-block;
    vertical-align: middle;
    margin: 16px auto;
}

.school-name {
    color: rgb(53, 50, 50);
}

.nav {
    text-align: right;
    margin-right: 24px; 
    vertical-align: middle;
    display: inline;
}

li {
    text-decoration: none;
    list-style: none;
    display: inline;
    margin-right: 16px;  
}

ul, a {
    text-decoration: none;
    color: rgb(97, 97, 97);
    display:inline;
    vertical-align: middle;
    text-align: right;
}

ul {
    text-align: right;
}

a:hover {
    color: navy;
}

.main-intro {
    background-color: gainsboro;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
    color: rgb(53, 50, 50);
    display: inline-block;
    vertical-align: middle;
}

.banner-info {
    float: right;
}