* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    color: rgb(68, 68, 68);
    width: 100%;
}

/* Navbar & Logo css */

.navbar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
}


.navbar_container {
    display: flex;
    justify-content: space-between;
    height: 64px;
    width: 100%;
    margin: 0 24px;
}

@media screen and (max-width: 581px){
    .navbar_container {
        /* background-color: blanchedalmond; */
    }
}

.logo {
    vertical-align: middle;
    margin-bottom: 2px;
}

@media screen and (min-width: 776px){
    .logo {
        visibility: visible;
    }
}

@media screen and (max-width: 710px){
    .logo_text {
        visibility: hidden;
        width: 100%;
    }
    .logo {
        visibility: visible;
    }
}

@media screen and (max-width: 580px){
    .logo_text{
        width: 20%;
        margin: 0;
    }
}

.logo p {
    color: black;
    /* justify-self: center; */
}

.navbar_container p {
    display: inline-block;
    font-size: 32px;
    justify-content: center;
    align-items: center; 
    color: black;

}
.navbar_container span {
    font-weight: lighter;
}

.navbar_container img {
    height: 40px;
    width: auto;
}

.navbar_menu {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}

@media screen and (max-width: 776px){
    .navbar_menu {
        visibility: hidden;
        width: 0;
    }
}


.navbar_item {
    width: auto;
    display: flex;
}

.navbar_links{
    color: rgb(68, 68, 68);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center; 
    padding-left: 16px;
}

#mobile_menu {
    visibility: hidden;
    width: 0;
}

@media screen and (max-width: 776px){
    #mobile_menu {
        visibility: visible;
        display: flex;
        align-items: center;
        width: 100%;
    }

    .bar {
        margin-left: 50px;
    }
}

@media screen and (max-width: 600px){
    .bar {
        /* width: 100%; */
    }
}

@media screen and (max-width: 581px){
    .bar {
        /* background-color: coral; */
    }

    #mobile_menu {
        /* background-color: aqua; */
        width: 80%;
        /* width: 100% */
    }
}



/************* Main Content ***************/
.main {
    background-color: rgb(230, 230, 230);
    padding: 32px 24px;
    width: 100%; 
    display: flex;
}

@media screen and (max-width: 810px){
    .main {
        padding: 24px 0;
    }
}

.main_img_container {
    display: flex;
    justify-content: center;
    align-items: center;
} 

@media screen and (max-width: 810px) {
    .main_img_container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        /* background-color: coral; */
    }
}

.main_img_card {
    max-width: 60%;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width: 810px) {
    .main_img_card {
        width: 100%;
        /* margin-right: 10px; */
        padding: 0;
        width: 100%;
        margin: 16px 0;
        padding: 0;
    }

    .main_img_card img {
        width: 100%
    }
}

@media screen and (max-width: 810px){
    .main_img_card {
        width: 100%;
        margin: 16px 0;
        padding: 0;
    }
}

.main_content {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: 24px;
    /* background-size: 100%;  */
    justify-content: center;
    align-items: flex-start;  
    color: rgb(212, 212, 212);
    text-align: left;
    /* height: 100vh; */
}

.main_content h1 {
    background-size: 80%;
    font-weight: 600;
    padding-bottom: 20px;
    width: 90%;
    font-size: 50px;
}
@media screen and (max-width: 965px){ /* was 965 */
    .main_content h1 {
       font-size: 40px;
    }
}

.main_content h3 {
    background-size: 100%;
    margin-bottom: 24px;
    font-weight: 500;
    width: 90%;
    font-size: 28px;
    line-height: 2.4rem;
}

@media screen and (max-width: 965px){
    .main_content h3 {
        font-size: 24px;
    }
}

.main_btn {
    outline: none;
    cursor: pointer;
    border: none;
    background-color: rgb(73, 73, 73);
    padding: 8px 0;
    width: 80%;
}

.main_btn a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}


/* @media screen and (max-width: 960px){
    .main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: auto;

    }

    .main_container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }

    .main_container h1 {
        margin: 15px;
        font-size: 2rem;
    }

    .main_container h3 {
        display: flex;
        align-self: flex-start;
        margin-left: 1rem;
        
    }

    .main_container img {
        padding: 0px 15px;
    }

    .main_btn {
        padding: 5px;
        display: flex;
        justify-content: center;
        align-self: flex-start;
        margin-left: 15px;
    }

    .main_btn a {
        font-size: 1rem;
        cursor: pointer;
    }

} */


/* ***** SECTION **********/
.section2 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 0;
}

@media screen and (max-width: 810px){
    .section2 {
        display: flex;
        flex-wrap: wrap;
    }
}

.two {
    margin: 32px 24px;
}

.two h2 {
    padding: 32px 0 24px 0;
    font-size: 32px;
}

.two quote {
    padding-top: 24px;
}

.two {
    width: 60%;
}

.two .lorem {
    padding: 0;
}

.offering_list {
    border-left: rgb(230, 230, 230) 1px solid;
    padding-top: 16px;
    width: 40%;
}


.img_mobile {
    visibility: hidden;
    width: 0;
    height: 0;
}


@media screen and (max-width: 810px){
    .offering_list {
        width: 80%;
        /* background-color: coral; */
        border: none;
        margin: 0;
        padding: 0;
    }

    .img_mobile {
        visibility: visible;
        width: 100%;
        height: auto;
    }
}

.main_offering_content {
    display: flex;
    align-items: center; 
    color: rgb(68, 68, 68);
}

@media screen and (max-width: 801px){
    .main_offering_content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* background-color: cadetblue; */
    }

    .img_desktop {
        visibility: hidden;
        width: 0;
        height: 0;
    }
}

.column h2, p{
   text-align: left;
   margin: 0;
}


.column p {
    font-weight: light;
}

@media screen and (max-width: 801px){
    .column p {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        padding: 0;
    }
}


.column a {
    padding-top: 15px;
}

.column h2 {
    margin-left: 12px;
}

@media screen and (max-width: 801px){
    .column h2 {
        text-align: center;
        width: 50%;
        margin: 0 auto;
        padding: 16px 0;
    }
}

.column {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 24px;
}

@media screen and (max-width: 776px){
    .column {
        margin: 0 auto;
    }
}


.main_offering_content {
    margin: 0;
    padding: 16px 16px 16px 0;
    border-bottom: rgb(230, 230, 230) 1px solid;
}

@media screen and (max-width: 801px){
    .main_offering_content  {
        /* background-color: coral; */
        display: flex;
        align-items: center;
        margin: 0;
        padding: 20px 0;
    }
}

.main_offering_content img{
   width: 35%;
   margin-left: 16px;
   margin-top: 0;
}

@media screen and (max-width: 810px){
    .main_offering_content img {
        width: 70%;
        /* height: 80%; */
        position: center;
        margin: 0
    }
}



.main_offering_content h2 {
    font-weight: 500;
}

.main_offering_content h2, p{

    display: flex;
    flex-direction: column;
}

.main_offering_content a {
    color: royalblue;  
    text-decoration: none;
}

#lecture {
    background-color: rgb(230, 230, 230);
}

@media screen and (max-width: 801px){
    #lecture {
    }
}


/***************** Grid Section **************** */
.grid {
    width: 100%;
    margin: 0;
    padding: 0 72px;
    background-color: rgb(230, 230, 230);
    padding-bottom: 32px;
}

.heading {
    font-weight: 600;
    padding: 32px;
}

.grid_content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.grid_container {
    background-color: #fff;
  
    display: flex;
    margin: 12px 16px; 
    max-width: 300px; 
    min-height: 300px;
}

.grid_container img{
    background-color: #fff; 
    display: flex;
    display: inline;
    max-width: 300px;
}

.grid h1 {
    margin-top: 32px;
    text-align: center;
    font-weight: bolder;
}

.grid-item h2, p {
    padding: 8px 16px;
}

.grid-item p {
    font-weight: light;
}


/* *********** Thesis Section **************/
.thesis {
    width: 100%;
    margin: 32px 24px;
    width: auto;
}

.three {
    background-color: rgb(230, 230, 230);
    margin-top: 17px;
}

.thesis h1 {
    text-align: center;
    margin-bottom: 24px;
}

#thesis_content_main {
    width: 40%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

iframe {
    height: 100%;
    margin-top: 17px;
}

.offering_container {
    margin-left: 24px;
}

.thesis_content_video h2 {
    margin-top: 24px;
}

.thesis_content_video p {

    padding: 8px 0;
}

#thesis_content h3{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}  

#thesis_content p{
    margin: 0;
    padding: 8px 0;
}

/* *********** Footer Section *************** */

footer {
    margin-top: 16px;
    padding: 24px 24px 24px 8px;
    border-top:  rgb(230, 230, 230) solid 2px;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
}

.footer_links {
    width: 15%;
    margin: 0;
    text-align: right;
}

.footer_list {
    list-style: none;
    display: flex;
}

.footer_items a {
    text-decoration: none;
}
